<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
<h1>{{ header }}</h1>
<p>{{ username }}</p>
{% for product in products %}
    <h4>{{ product.name }}</h4>
    <p>{{ product.price }}</p>
{% endfor %}
{% if products_of_promotions %}
    <h3 style="color:green;">Товары по акции</h3>
    {% for promotion in products_of_promotions %}
        <h4>{{ promotion.name|title }}</h4>
        <p>{{ promotion.price }}</p>
    {% endfor %}
{% endif %}
</body>
</html>